.workShopItem{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.workShopItem--title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95vw;
    justify-content: center;
}

.workShopItem--time{
    font-size: 18px;
    font-weight: 900;
    width: 40%;
}
.workShopItem--subtitle{
    font-weight: 600;
    font-size: 18px;
    width: 60%;
    display: flex;
    justify-content: flex-end;
}
.workShopItem--object{
    color: #00a5d3d7;
    font-size: 22px;
}
.workShopItem--person{
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.MuiExpansionPanelDetails-root{
    padding-top: 0;
}
.workShopItem--comment{
    font-size: 18px;
    font-weight: 900;
    margin-left: 10px;
}


.workshoplist{
    margin-top: 60px;
    margin-bottom: 40px; 
}
#root .MuiExpansionPanelSummary-root{
    padding: 0;
}
.workshoplist .even{
    background-color: #82c8db23;
}
#root .addTaskButton{
    position: fixed;
    z-index: 2;
    bottom : 0px;
    left: 0;
    width: 100%;
    background: #00a5d3;
    font-size: 16px;
    padding: 8px;
    border-radius: 0;
}
