#root .MuiFab-primary{
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: #00a4d3;
    height: 62px;
    width: 62px;
    font-size: 50px;
    opacity: 0.8;
}
.makeStyles-root-1 .MuiAppBar-colorPrimary{
    background-color: #00a4d3;
  }
  